<div class="row">
  <label class="col-4">Screen Id</label>
  <input class="form-control col-6" type="text" [(ngModel)]="model.id" />
</div>
<div class="row">
  <label class="col-4">Screen Name</label>
  <input class="form-control col-6" type="text" [(ngModel)]="model.name" />
</div>
<div class="row">
  <label class="col-4">Channel</label>
  <input class="form-control col-6" type="text" [(ngModel)]="model.channel" />
</div>
<div class="row">
  <label class="col-4">Background Color</label>
  <input class="colorpick col-6" type="color" name="bgColor" [(ngModel)]="model.theme.bgColor">
</div>
<div class="row">
  <label class="col-4">Text Color</label>
  <input class="colorpick col-6" type="color" name="textColor" [(ngModel)]="model.theme.textColor">
</div>
