<div class="mfs-screen-builder">
  <div *ngIf="model && !report" class="padding20 white-bg">
    <div class="row screen-header">
      <div class="col-12">
        <div class="btn-cont">
          <h2 class="pull-left">Screen Builder</h2>
          <button class="btn btn-primary pull-right" (click)="updateForm()" class="btn btn-primary pull-right">Update</button>
          <button class="btn btn-primary pull-right" style="margin-right:3px;">View <i
              class="fa fa-external-link"></i></button>
        </div>
      </div>
    </div>
    <div class="spacer30"></div>
    <div class="row">
      <div class="screen-left-side col-4">
        <app-screen-details [model]="model"></app-screen-details>

        <h4>Select Fields</h4>
        <p>Customize your form by drag and drop below fields to the form area.</p>
        <!--a draggable element-->
        <div class="fields-list">
        <app-dynamic-fields></app-dynamic-fields>
      </div>
      </div>
      <div class="screen-right-side col-8">

        <app-form-builder [model]="model"></app-form-builder>
      </div>
    </div>
  </div>
</div>
